<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Constants.APPLICATION_NAME</title>
    @* Css import render *@
    @await Component.InvokeAsync("StyleSheet")
</head>
<body>
    @* Main content *@
    <main id="page-load">
        @await Component.InvokeAsync("NavBar")
        <div class="render-content position-relative w-100">
            @await Component.InvokeAsync("Header")
            @RenderBody()
            @await Component.InvokeAsync("Footer")
        </div>
        @await Component.InvokeAsync("ThemeSetting")
        @await Component.InvokeAsync("BackToTop")
    </main>

    @* Script import render *@
    @await Component.InvokeAsync("Script")
    @RenderSection("Scripts", required: false)
</body>
</html>
