@{
    ViewData[Constants.GLOBAL_KEY_TITLE] = _localizer.Globals["Nav_User_List"];
    ViewData[Constants.GLOBAL_KEY_CURRENT_PAGE] = "UserList_Page";
}

<h1>User detail nghe</h1>

@section ViewScript { }
