<section id="languageButton">
    <style>
        #languageButton {
            width: 100%;
        }

            #languageButton > select {
                margin: 0;
                border-radius: var(--site-border-full);
            }
    </style>
    <select class="form-select form-select-sm">
        <option value="1">VN</option>
        <option value="2">US</option>
    </select>
</section>