@import 'baseStyle.css';
@import 'animation.css';

/*#region Responsive */

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

/*#endregion */

/*#region Page style */
#page-load {
    position: relative;
    display: flex;
    height: 100vh;
    color: var(--site-text-operating);
    overflow: hidden;
}

    #page-load .render-content {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        min-height: 100%;
        scroll-behavior: smooth;
        display: flex;
        flex-direction: column;
    }

        #page-load .render-content .main-content {
            flex: 1;
            width: 100%;
            padding: .5rem;
        }

        #page-load .render-content .footer {
            position: sticky;
            display: flex;
            justify-content: center;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 97;
            background: var(--site-gray-300);
        }

/*#endregion */

/*#region Component */

/*#endregion */
