@import 'baseStyle.css';
@import 'animation.css';

/*#region Responsive */

@media (min-width: 768px) {
    body {
        font-size: 14px;
    }
}

/*#endregion */

/*#region Page style */
#page-load {
    position: relative;
    display: flex;
    height: 100vh;
    color: var(--site-text-operating);
}

.footer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    z-index: 97;
}

/*#endregion */

/*#region Component */

/*#endregion */