@* // Copyright (c) 2025 - Jun Dev. All rights reserved *@

<section id="singleSiteOn">
	<ul class="d-flex flex-column">
		<li  class="active">
			<a href="#">
				Manager
			</a>
		</li>
		<li>
			<a href="#">
				MP
			</a>
		</li>
		<li>
			<a href="#">
				CS
			</a>
		</li>
		<li>
			<a href="#">
				CMS
			</a>
		</li>
	</ul>
</section>
