<div class="header">
    <div class="wrapper">
        <div class="title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="user-utilities">
            <div class="user-info">asd</div>
            <div class="user-notification">asd</div>
        </div>
    </div>
</div>