@* // Copyright (c) 2024 - Jun Dev. All rights reserved *@

@{
	ViewData[Constants.GLOBAL_KEY_TITLE] = _localizer.Globals["Nav_User_Role"];
	ViewData[Constants.GLOBAL_KEY_CURRENT_PAGE] = "UserRole_Page";
}

<h1>Index</h1>

@section ViewScript {
}
