@{
    ViewData[Constants.GLOBAL_KEY_TITLE] = _localizer["Nav_Dashboard"];
    ViewData[Constants.GLOBAL_KEY_CURRENT_PAGE] = "Dashboard_Page";

    var message = (string)ViewBag.LoginMessage;
}
<div class="dash-board">
    <section class="statical ">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @await Component.InvokeAsync("SearchInput")
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    asdas
                </div>
                <div class="col-lg-3 col-md-6">
                    asdas
                </div>
                <div class="col-lg-3 col-md-6">
                    asdas
                </div>
                <div class="col-lg-3 col-md-6">
                    asdas
                </div>
            </div>
        </div>
    </section>
    <script>
        const message = '@message';
        const InitPage = () => {
            toastr.success(message);
        };

        if (message) StoreWindowLoadCallback.push(InitPage);
    </script>
</div>

